@use "../../style/variabler.scss" as*;


//SECTION ONE
.sectionOne {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 110vh;


    article {
        background-color: $white;
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;

        h3 {
            color: $blue;
            text-align: center;

        }

        p {
            text-align: center;
        }
    }
}


//SECTION TWO
.sectionTwo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 5px solid $dark-blue;
        padding: 0;

        h3 {
            color: $blue;
            text-align: center;

        }

        p {
            text-align: center;
        }

        figcaption {
            margin: 0;

            img {
                display: block;
                width: 70%;
                object-fit: cover;
                height: 70%;
                padding: 3rem 0 0 3rem;

            }
        }
    }
}


// SECTION THREE
.sectionThree {
    h2 {
        color: $blue;
        text-align: center;
    }

    .team {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        img {
            display: block;
            width: 100%;
        }

        h5 {
            text-align: center;
            color: $blue;
        }

        p {
            text-align: center;
            border-bottom: 7px solid $dark-blue;
        }
    }
}


//SECTION FOUR

.sectionFour {
    img{
        display: block;
        width: 100%;
    }
    figure {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 5px solid $dark-blue;

        h3{
            color: $blue;
            text-align: center;
        }
        p{
            text-align: center;
        }

        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color:  $dark-blue;
                }
            }
        }
    }
}