@use "../../style/variabler.scss" as*;

.sectionOne {
    margin-bottom: 5rem;
    div {
        position: absolute;
        top: 20%;
        left: 50%;
        padding: 1vw;
        span {
            color: $blue;
        }

        h1 {
            color: $white;
            font-weight: 300;
            margin-bottom: 0;
            font-size: 6rem;
        }
        h5{
            color: $white;
            font-weight: 300;
           margin-top: 0;
        }
    }

    img {
        display: block;
        width: 100%;
        position: relative;
        z-index: -1;
        padding: 0;
        margin: 0;
    }
}