@use "../../style/variabler.scss" as*;


.sectionFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $dark-blue;

    div {

        h4 {
            color: $white;
        }

        p {
            color: white;
        }

        ul {
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
}