@use "../../style/variabler.scss" as*;

.list {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $white;


    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: $blue;
                border-right: 1px solid $blue;
                padding-right: 7px;
            }

        }

        li:nth-child(4) {
            a {
                border: none
            }
        }
    }



    span {
        color: $blue;
        font-weight: 300;
    }

    h4 {
        color: $black;
        font-weight: 300;
        justify-self: end;
        margin-right: 10px;
    }
}